{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}

{% include "navbar_leaf.html" %}
{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}

<div class="col-xs-10">
    <h3>Delete Switch</h3>
    <h2> Error deleteing Switch....call the wookie!</h2>
    <p> I have no idea why this is happening </p>


  </div>

</div>
{% endblock %}
