{% extends "base.html" %}

{% block title %}New Comware Switch{% endblock %}

{% block content %}

{% include "navbar_leaf.html" %}

<div class="col-xs-10">
    <h3>Add New Switch</h3>

    {% from "_formhelpers.html" import render_field %}
    <form  method="POST" action="{{ url_for('switch_app.switch')}}" role="form">

      {{ form.hidden_tag() }}
      <table class="table">
        <tr>
          <td>{{ render_field(form.mgmt_ip, class='form-control input-sm') }}</td>
          <td>{{ render_field(form.role, class='form-control input-sm') }}</td>
          <td>{{ render_field(form.model, class='form-control input-sm') }}</td>
          <td>{{ render_field(form.pod, class='form-control input-sm') }}</td>
          <td>{{ render_field(form.host, class='form-control input-sm') }}</td>
        </tr>

      </table>

      <button type="submit" class="btn btn-success btn-sm btn-block">Add Switch</button>

    </form>

  </div>

</div>
{% endblock %}
