
{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

{% include "navbar_leaf.html" %}

<div class="row">

<h2> Select a Project</h2>

  <p> Choose the project from the drop down list </p>

  <form  method="POST" action="{{ url_for('.switch_showinventory')}}">
    <select name ="pod">
            {% for s in switch %}
              <option value={{s}}>{{s}}</option>
              {% endfor %}
    </select>
    <br>
    <hr>
    <button type="submit" class="btn btn-success btn-sm btn-block">Select Project</button>
</from>
{% endblock %}
