
#
 version 7.1.074, Demo 0391P02
#
 sysname {{switch.hostname}}
#
 password-recovery enable
#
vlan 1
#
irf-port
#
interface NULL0
#
interface LoopBack0
 ip address {{switch.loopback}}
#
interface GigabitEthernet1/0/0
 port link-mode route
 ip address dhcp-alloc
#
interface M-GigabitEthernet0/0/0
 ip address {{switch.management}}
#{%  block interfaces %}{%  for interface in switch.interfaces %}
interface {{  interface.ifdesc }}
 description {{ interface.description}}
 port link-mode route
 ip address {{  interface.ipaddress }} {{  interface.mask }}
#{% endfor %}{%  endblock %}
bgp {{ switch.asn }}
 router-id {{ switch.rid }}{% for peer in switch.peers %}
 peer {{ peer }}{% endfor %}
 peer IBGP connect-interface Loopback0
#
address-family ipv4 unicast
 balance ebgp 8
 import-route direct{% for network in switch.networks %}
 network {{ network }}
{% endfor %}{% for peer in switch.enablepeers %}
 peer {{ peer }} enable{% endfor %}
#
ip route-static 0.0.0.0 0.0.0.0 {{ switch.gateway[0] }}
#
 scheduler logfile size 16
#
line class aux
 user-role network-operator
#
line class console
 user-role network-admin
#
line class vty
 user-role network-operator
#
line aux 0
 user-role network-operator
#
line con 0
 user-role network-admin
#
line vty 0 63
 authentication-mode scheme
 user-role network-operator
#
 ssh server enable
 scp server enable
#
domain system
#
 domain default enable system
#
role name level-0
 description Predefined level-0 role
#
role name level-1
 description Predefined level-1 role
#
role name level-2
 description Predefined level-2 role
#
role name level-3
 description Predefined level-3 role
#
role name level-4
 description Predefined level-4 role
#
role name level-5
 description Predefined level-5 role
#
role name level-6
 description Predefined level-6 role
#
role name level-7
 description Predefined level-7 role
#
role name level-8
 description Predefined level-8 role
#
role name level-9
 description Predefined level-9 role
#
role name level-10
 description Predefined level-10 role
#
role name level-11
 description Predefined level-11 role
#
role name level-12
 description Predefined level-12 role
#
role name level-13
 description Predefined level-13 role
#
role name level-14
 description Predefined level-14 role
#
user-group system
#
local-user {{ switch.username }} class manage
 password hash {{ switch.password }}
 service-type ssh
 authorization-attribute user-role network-admin
 authorization-attribute user-role network-operator
#
snmp-agent
snmp-agent community read public
snmp-agent community write private
snmp-agent sys-info version all
#
return
