
{% extends "base.html" %}

{% block title %}Delete{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

{% include "navbar_leaf.html" %}

<div class="row">

<h2> Delete Playbook</h2>

  <p> Choose the Playbook from the drop down list CAUTION!!!! Deleteing record is permanent</p>

  <form  method="POST" action="{{ url_for('.delete')}}">
    <select name ="name">
            {% for n in playbook %}
              <option value={{n}}>{{n}}</option>
              {% endfor %}
    </select>
    <br>
    <hr>
    <button type="submit" class="btn btn-success btn-sm btn-block">Delete Playbook</button>
</from>
{% endblock %}
