
{% extends "base.html" %}

{% block title %}List Stores{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

{% include "navbar_leaf2.html" %}

<div class="row">

<h2> Store List</h2>
<form action = "{{ url_for('main_app.main') }}" method = "get">
<div class="container">

  <table class="table">
   <thead><tr>
    <th>Name</th><th>Neighborhood</th><th>Street</th><th>City</th><th>State</th><th>Zip</th><th>Phone</th>
  </tr></thead>
  <tbody>
  {% for i in stores %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.neighborhood }}</td>
      <td>{{ i.street_address }}</td>
      <td>{{ i.city }}</td>
      <td>{{ i.state }}</td>
      <td>{{ i.zip }}</td>
      <td>{{ i.phone }}</td>
    </tr>
  </tbody>

     {% endfor %}
    </table>
</div>
    <hr>
    <p> Please retun to main menu </p>
</form>
<hr>
<button type="submit" class="btn btn-success btn-sm btn-block">Main Menu</button>
{% endblock %}
